---
// Basic Light Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, a rating and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
// - Data
import { configData } from '../../../config/config'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Join the Viroop Walk!"
				text="Let's see if we can break free from big brother's monopoly"
				classes="!shadow-none"
			>
				<Button size="lg" style="primary" link={configData.downloadLink}
					>Download Viroop for free now! (MacOS)
				</Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
