---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
import heroGif from '../../../assets/viroop-conversational-search-demo-4.gif'
// - Data
import { configData } from '../../../config/config'
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<h1>Easy photo organizing, finding and curation</h1>
			<p class="pb-0 text-lg">If you like Lightroom but not its price</p>
			<p class="mb-1 pb-0 text-sm">
				* Viroop is still a work in progress. But it's definitely usable as a photo management tool.
			</p>
			<p class="pb-0 pt-0 text-sm">
				** It's free for now, but I will probably start charging for it in a future update. The
				price will be reasonable.
			</p>
			<Button size="lg" link={configData.downloadLink}>Download for free (MacOS)</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroGif}
				alt="Viroop. Photo manager and editor."
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
			/>
		</Col>
		<Col span="2" />
	</Row>
</Section>
